*{
    box-sizing: border-box;
}
body{
    background: #F5F5F5;
width: 1440px;
    height: 1024px;
 background: #FFFFFF;
 margin-left: 280px;
}
.ambassador-conteiner {
    width: 1229.57px;
    height: 589px;
    left: 121px;
    top: 226px;
}
.Ambassador {
    color: #19191B;
font-weight: 700;
font-size: 60px;
padding-left: 400px;
line-height: 350px;
}
.Benefits {
   color:  #6E6EFD;
   font-weight: 700;
font-size: 60px;
line-height: 350px;
}
.conteiner {
    Width:386.33px;
Height:437px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(image.png);
box-shadow: 0px 202.825px 490.554px rgba(120, 120, 168, 0.17);
border-radius: 40px;
margin-left: 110px;
}
b {
    font-weight: 700;
font-size: 45px;
line-height: 66px;
    text-align: center;
letter-spacing: -2.50105px;
margin-left: 150px;
color: #19191B;
}
p {
    font-weight: 500;
    font-size: 21px;
   margin-left: 60px;
   margin-bottom:10px;
color: #696871;
}
.conteiner-1 {
    position: absolute;
left: 38.68%;
right: 35.49%;
top: 36.91%;
bottom: 20.41%;

    Width:386.33px;
    Height:437px;
    border-radius: 40px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
box-shadow: 0px 202.825px 230px rgba(120, 120, 168, 0.07);
margin-left: 60px;
margin-top: 30px;
}
.Net {
    position: absolute;
    right: 20.12%;
    top: 50.42%;
    bottom: 10.75%; 
}
.group {
    position: absolute;
left: 0%;

top: 67.6%;
bottom: 25.51%;

font-weight: 500;
font-size: 21px;
line-height: 39px;
text-align: center;
letter-spacing: -0.656526px;
color: #696871;
}
.conteiner-2 {
    position: absolute;
left: 86.96%;
right: 6.21%;
top: 36.91%;
bottom: 20.41%;

    Width:386.33px;
Height:437px;
Top:395px;
Left:1285.24px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(image.png);
box-shadow: 0px 202.825px 490.554px rgba(120, 120, 168, 0.17);
border-radius: 40px;
}
.rew {
    position: absolute;
    left: -30px;
    top: 50.42%;
    bottom: 43.75%;
    color: #19191B;
    letter-spacing: -2.50105px;
}
.group-1 {
    font-weight: 500;
font-size: 21px;
line-height: 39px;
    position: absolute;
left: 10.04%;
right: 9.29%;
top: 67.6%;
bottom: 25.51%;
text-align: center;
letter-spacing: -0.656526px;
color: #696871;
}